.topbar-title {
  width: 100%;
  background-color: #f5f5f5;
  padding: 25px 35px;
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.2), 0px 0px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  color: rgba(0, 0, 0, 0.87);

  .icon-base {
    position: relative;
    top: 6px;
    margin-right: 11px;
    font-size:30px;
  }
  h2{
    font-size:30px;
  }
  @media (max-width: 600px){
    h2{
      font-size:24px;
    }
    .icon-base {font-size:23px;}
  }
 
}
